<app-home-bar></app-home-bar>

<div class="home-container">
  <h1>Inicio Carátulas</h1>
  <p class="subtexto">Acceso a las diferentes carátulas del sistema</p>

  <div class="tarjetas-acciones">
    <div class="tarjeta">
      <h2>📂 Carátula Global</h2>
      <p>Visualización completa de todas las carátulas.</p>
      <button [routerLink]="['/caratulas']">Ver Global</button>
    </div>

    <div class="tarjeta">
      <h2>🌎 Carátula EVAC A</h2>
      <p>Carátulas específicas para el grupo EVAC A.</p>
      <button [routerLink]="['/caratula-evac-a']">Ver EVAC A</button>
    </div>

    <div class="tarjeta">
      <h2>🌍 Carátula EVAC B</h2>
      <p>Carátulas específicas para el grupo EVAC B.</p>
      <button [routerLink]="['/caratula-evac-b']">Ver EVAC B</button>
    </div>

    <div class="tarjeta">
      <h2>↩ Volver</h2>
      <p>Regresar al menú principal.</p>
      <button [routerLink]="['/previo']">Regresar</button>
    </div>
  </div>
</div>