<app-top-bar-usuarios></app-top-bar-usuarios>

<div class="monitor-container">
  <h2>Proyecciones de Ventas</h2>

  <div class="acciones-monitor">
    <button class="btn-volver" [routerLink]="['/usuarios/dashboard']">
      <i class="fas fa-arrow-left"></i> Volver
    </button>
    <button class="btn-crear" (click)="manejarClickCrear()">
      <i class="fas fa-plus"></i> Crear Proyección
    </button>
    <button class="btn-historial" [routerLink]="['/usuarios/proyeccion-historial']">
      <i class="fas fa-history"></i> Ver Historial de Proyecciones
    </button>
  </div>

  <div class="info-proyecciones">
    <h3>¡Hola distribuidor!</h3>
    <p>
      Bienvenido al módulo de proyecciones de compras. Aquí podrás realizar tus proyecciones para la compra de
      bicicletas
      de forma anticipada, facilitando la planeación y el abastecimiento de productos en tu tienda o negocio.
    </p>

    <p>
      Utiliza esta sección para crear nuevas proyecciones con base en tu demanda estimada. También puedes consultar
      el historial de proyecciones enviadas para llevar un mejor control de tus pedidos futuros.
    </p>

    <p>
      Da clic en <strong>“Crear Proyección”</strong> para comenzar, o en <strong>“Ver Historial de
        Proyecciones”</strong>
      si deseas revisar tus registros anteriores.
    </p>
  </div>
</div>