<app-top-bar-usuarios></app-top-bar-usuarios>

<div class="monitor-container">
  <h2>Proyecciones de Compras</h2>

  <div class="acciones-monitor">
    <button class="btn-volver" [routerLink]="['/usuarios/dashboard']">
      <i class="fas fa-arrow-left"></i> Volver
    </button>
    <button class="btn-crear" (click)="manejarClickCrear()">
      <i class="fas fa-plus"></i> Crear Proyección
    </button>
    <button class="btn-historial" [routerLink]="['/usuarios/proyeccion-historial']">
      <i class="fas fa-history"></i> Ver Historial de Proyección
    </button>
  </div>

  <div class="info-proyecciones">
    <h3>Estimado distribuidor</h3>
    <p>
      Bienvenido al módulo de proyecciones de compras. Desde este espacio podrás registrar de manera anticipada tu proyección de compra de bicicletas, lo que facilitará la planeación y el abastecimiento oportuno del producto.
    </p>

    <p>
      Además, podrás consultar el historial de proyecciones enviadas, lo que te permitirá llevar un mejor control y seguimiento de tus pedidos futuros.
    </p>

    <p>
      Da clic en <strong>“Crear Proyección”</strong> para comenzar, o en <strong>“Ver Historial de Proyección”</strong> si deseas revisar tu registro.
    </p>

    <p>
      <strong>Nota:</strong> Solo se puede enviar una vez la proyección, sé cuidadoso.
    </p>
  </div>
</div>