<header class="top-bar">
  <a class="brand" [routerLink]="['/']" style="text-decoration: none;">Elite Bike</a>
  <nav class="icons">
    <a href="https://ebik.odoo.com/web/login" target="_blank" rel="noopener noreferrer" class="cart-icon">
      <i class="fas fa-arrow-left"></i>
      <span class="b2b-text">Volver a B2B</span>
      <span class="cart-badge"></span>
    </a>
    <a [routerLink]="'/login'" title="Iniciar sesión" class="login-icon">
      <span class="login-text">Iniciar sesión</span>
      <i class="fas fa-user profile-icon"></i>
    </a>
  </nav>
</header>