<app-home-bar></app-home-bar>

<div class="dashboard-container">
    <div class="header-section">
        <h1>Logística y Aduanas</h1>
        <button class="back-button" routerLink="/flujo-dashboard">Volver</button>
    </div>

    <button type="button" class="accion-btn" (click)="toggleFormulario()">
        {{ mostrarFormulario ? 'Cerrar' : '+ Registrar Embarque' }}
    </button>

    @if (mostrarFormulario) {
    <div class="kpi-card" style="text-align: left; margin-top: 20px;">
        <form [formGroup]="form" (ngSubmit)="guardar()">
            <div class="grid-form">
                <label>Código Emb: <input formControlName="codigo_embarque" placeholder="EMB-ENE26"></label>
                <label>ID Orden Compra: <input type="number" formControlName="orden_compra_id"
                        placeholder="ID de la PO"></label>
                <label>Contenedor: <input formControlName="contenedor"></label>
                <label>Fecha ETA (Llegada): <input type="date" formControlName="fecha_eta"></label>

                <h3 style="grid-column: 1/-1; color: #EB5E28; margin-top: 10px;">Valores para Impuestos</h3>

                <label>Valor Aduana (MXN): <input type="number" formControlName="valor_aduana_mxn"></label>
                <label>Pago IGI: <input type="number" formControlName="pago_igi"></label>
                <label>Pago DTA: <input type="number" formControlName="pago_dta"></label>
                <label>Flete (MXN): <input type="number" formControlName="gasto_flete_mxn"></label>
            </div>
            <p style="font-size: 0.8rem; color: #888;">* El IVA y la Fecha de Pago (ETA - 3 días) se calculan
                automáticamente.</p>
            <button type="submit" class="accion-btn">Calcular y Guardar</button>
        </form>
    </div>
    }
</div>