<app-home-bar></app-home-bar>

<div class="home-container">
    <div class="header-section">
        <h1>Inicio Carátulas</h1>
        <p class="subtexto">Acceso a las diferentes carátulas del sistema</p>

        <div class="acciones">

            <button class="back-button" [routerLink]="['/previo']">
                <i class="fas fa-arrow-left"></i>&nbsp;Volver
            </button>

            <button class="back-button" [routerLink]="['/historial-caratulas']">
                Historial Carátulas
            </button>

        </div>
    </div>

    <div class="tarjetas-acciones">
        <div class="tarjeta">
            <div class="tarjeta-icono">
                <i class="fas fa-globe-americas"></i>
            </div>
            <h2>Carátula Global</h2>
            <p>Visualización completa de todas las carátulas.</p>
            <button class="accion-btn" [routerLink]="['/caratula-global']">Ver</button>
        </div>

        <div class="tarjeta">
            <div class="tarjeta-icono">
                <i class="fas fa-file-alt"></i>
            </div>
            <h2>Carátula Normal</h2>
            <p>Visualización completa de todas las carátulas.</p>
            <button class="accion-btn" [routerLink]="['/caratulas']">Ver</button>
        </div>

        <div class="tarjeta">
            <div class="tarjeta-icono">
                <i class="fas fa-users"></i>
            </div>
            <h2>Carátula EVACS</h2>
            <p>Visualización de carátulas de EVACS</p>
            <button class="accion-btn" [routerLink]="['/caratula-evacs']">Ver</button>
        </div>

        <div class="tarjeta">
            <div class="tarjeta-icono">
                <i class="fas fa-user"></i>
            </div>
            <h2>Carátula EVAC A</h2>
            <p>Carátulas específicas para el grupo EVAC A.</p>
            <button class="accion-btn" [routerLink]="['/caratula-evac-a']">Ver</button>
        </div>

        <div class="tarjeta">
            <div class="tarjeta-icono">
                <i class="fas fa-user"></i>
            </div>
            <h2>Carátula EVAC B</h2>
            <p>Carátulas específicas para el grupo EVAC B.</p>
            <button class="accion-btn" [routerLink]="['/caratula-evac-b']">Ver</button>
        </div>
    </div>
</div>