html, body {
  margin: 0;
  padding: 0;
  background-color: #1e1d1b;
  height: 100%;
  font-family: 'Segoe UI', sans-serif;
  color: #FFFCF2;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.snackbar-success {
  background-color: #4caf50; 
  color: white;
}

.snackbar-error {
  background-color: #f44336; 
  color: white;
}

 